<mat-toolbar color="primary" fxLayoutAlign="center start">
  <mat-toolbar-row fxFlex="70" fxLayout="row" fxLayoutAlign="space-between center">
    <div class="logo" fxFlex=20 fxLayoutAlign="start center" (click)="onHome()">
      <span class="logo-text">Utastar method</span>
    </div>
    <div class="menu" fxFlex fxLayout="row" fxLayoutAlign="end start" fxLayoutGap="15px">
      <button mat-raised-button style='background: #f2f2f2;' disableRipple="true" (click)="onNewTable()">Create a new table</button>
      <button mat-raised-button style='background: #f2f2f2;' disableRipple="true" (click)="onOverview()">Overview</button>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
