.container {
  height: 100%;
}
.add-feature {
  width: 100%;
  font-size: 1rem;
}
.steps {
  box-shadow: 0px 0px 6px 1px rgba(0,0,0,0.35);
  -webkit-box-shadow: 0px 0px 6px 1px rgba(0,0,0,0.35);
  -moz-box-shadow: 0px 0px 6px 1px rgba(0,0,0,0.35);
}
:host {
  width: 100%;
}
.title {
  margin: auto;
  font-weight: 500;
}
.row {
  width: 70%;
}
