<div class="container">
  <div class="container" fxLayout="column">
    <div class="row" fxFlex fxLayout="row" fxLayoutAlign="center start" fxFlexOffset="3rem" fxFlexOffset.lt-sm="0">
      <mat-card fxFlex='60' fxFlex.lt-md='80' fxFlex.lt-sm='100'>
        <mat-card-header fxLayoutAlign="center center">
          <mat-card-title fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="15px">
            <span fxLayoutGap="10rem" fxLayoutGap.lt-md="5rem" fxLayoutGap.lt-sm="25px">
              <button mat-mini-fab [color]="checkPage(i)" (click)="onTab(i)" [disabled]="checkIfFilled(i)" *ngFor="let step of steps; let i = index">
                {{ i + 1 }}
              </button>
            </span>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content fxLayout="column" fxLayoutGap="2rem">
          <router-outlet></router-outlet>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
