<div class="container">
  <mat-toolbar color='primary'>
    <mat-toolbar-row fxLayout="row" fxLayoutAlign="center center">
      <div class="students" fxLayout="column" fxFlexOffset="25px">
        <div>
          <span>
            <a target="_blank" style="color: white; text-decoration: none;" href="https://www.linkedin.com/in/petarstf/">Stefanovic Petar</a>
          </span>
          <span fxFlexOffset="20px">
            <a target="_blank" style="color: white; text-decoration: none;" href="https://www.linkedin.com/in/tamaradragovic/">Dragovic Tamara</a>
          </span>
          <span fxFlexOffset="20px">
            <a target="_blank" style="color: white; text-decoration: none;" href="https://users.isc.tuc.gr/~nispanoudakis/">Spanoudakis Nikolaos</a>
          </span>
        </div>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
</div>
